{% extends 'base.html.twig' %}


{% block title %}Hello ContactController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello Contrôleur de {{ controller_name }}! ✅</h1>

    <h2>Salut {{ name }}</h2>

    {% if city is defined %}
        <p>Vous êtes sur la ville de {{ city }}</p>
    {% endif %}


    {{ dump(contacts) }}



    {{ form(form) }}

    <ul>
        {% for contact in contacts %}
        <li> La personne <strong>{{ contact.name }} {{ contact.lastName }}</strong> vous a demandé quelque chose</li>
        {%  endfor %}
    </ul>


</div>
{% endblock %}
