{% extends 'base.html.twig' %}


{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello Contrôleur de {{ controller_name }}! ✅</h1>

    <h2>Salut {{ name }}</h2>

    {% if city is defined %}
        <p>Vous êtes sur la ville de {{ city }}</p>
    {% endif %}



    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/Blog/blog/src/Controller/ContactController.php'|file_link(0) }}">src/Controller/ContactController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/Blog/blog/templates/contact/index.html.twig'|file_link(0) }}">templates/contact/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
