{% extends 'base.html.twig' %}


{% block title %}Hello ContactController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello Contrôleur de {{ controller_name }}! ✅</h1>

    <h2>Salut {{ name }}</h2>

    {% if city is defined %}
        <p>Vous êtes sur la ville de {{ city }}</p>
    {% endif %}


    {{ dump(contacts) }}


    <h2>Ajouter un nouveau contact</h2>
    {{ form(form) }}


    <h2>Mes demandes de contact</h2>
    <ul>
        {% for contact in contacts %}
        <li> <a href="{{ path('contact', {'id': contact.id }) }}"> Demande de contact de  <strong>{{ contact.name }} {{ contact.lastName }}</strong> </a> </li>
        {%  endfor %}
    </ul>

    {% if id is defined %}
        <p>Le contact est  </p>
    {% endif %}



</div>
{% endblock %}
